<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static '/style.css' %}" />

    {% comment %}
    <link rel="stylesheet" href="{%static 'resume.css'%}" />
    {% endcomment %}
  </head>

  <body>
    <nav class="nav1">
      <!-- <ul></ul> -->
      <div id="logo">Logo</div>
      <ul>
        <li>
          <a href="{% url 'index'%}"> Home </a>
        </li>
        <li><a href="#"> Services </a></li>
        <li><a href="#"> About us </a></li>
        <li><a href="#"> Devloper </a></li>
      </ul>
      <div id="login"><a href="{% url 'sign_up' %}">Login</a></div>
      <!-- <div id="login"><a href="{% url 'sign_up' %}">Login</a></div> -->
    </nav>

    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="resume" />
        <button type="submit">Upload</button>
      </form>

      {% if resume_uploaded %}
      <p>Resume uploaded successfully</p>
      {% endif %} {% comment %}
      <!-- ---------------------------------------------------------------------------------------- -->
      {% endcomment %}

      <div class="uploadresume">
        <div class="text">click below to check the template resume</div>
        <div class="tempimg">
          <div class="overlappresume" id="one"></div>
          <div class="overlappresume" id="two"></div>
          <div class="overlappresume" id="three"></div>
        </div>
        <!-- <div class="checkresume"><input type="submit" value="">Check Resume</div> -->
        <!-- <input type="submit"> -->
        <div class="checkresume">
          <button type="submit">check resume</button>
        </div>
      </div>
    </div>
  </body>
</html>
